{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-transform-react-jsx", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "legacy": true }]
  ]
}